body{
    margin: 0;
    padding: 0;
}
.loginMain{
    display: flex;
    justify-content: center;
    background: url("image1.jpg");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}
.card1{
    margin-top: 15vh;
height: fit-content;
    padding: 50px;
    background-color: white;
    border: 2px solid black;
    width: 20%;

}
.loginHeader1{
    text-decoration: none;
    display:flex;
    justify-content:center
}
.loginHeader1 a{
text-decoration: none;
color:black;
background-color: white;
}
.inputs1{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.inputs1 input{
    background-color: white;
    line-height: 3em;
    margin: 7px 0px;
    border: none;
    border-bottom: 2px solid black ;
    width: 100%;
    outline: none;
}
.inputs1 button{
    
    padding: 15px;
    width: 75%;
    border-radius: 40px;
    background-color: rgb(243, 128, 87);
    border: none;
    font-size: larger;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    margin: 0 35px;
    
    margin-top: 40px;
   
}
.loginBtn {
border-right: 3px solid rgb(243, 128, 87);
padding-top: 5px;
padding-bottom: 5px;
padding-right:50px;
padding-left: 50px;
border-bottom: 2px solid white; 
}
.register1{
    border-bottom: 2px solid white; 
    
width:30%;
padding-left:50px ;
}
.register1:hover{
    border-bottom: 2px solid rgb(243, 128, 87);   
}
.loginBtn:hover{
    border-bottom: 2px solid rgb(243, 128, 87);      
}
.loader1{
    border: 16px solid black;
    border-radius: 50%;
    border-top: 16px solid black;
    border-right: 16px solid #0000006b;
    border-left: 16px solid #0000005e;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .loaderHead1{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffffa1;
    height: 100vh;
    width: 100vw;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
