.productTable{

}
.productTable table{

}
.productTable td{
    border: 2px solid black;
    padding: 5px;
    background-color: white;
    font-size: 13px;
    font-family: cursive;
    border-radius: 6px
}
.productTable th{
    border: 2px solid white;
    padding: 5px;
    background-color: black;
    color: white;
    font-family: cursive;
    font-size: medium;
    border-radius: 6px;
}
.productTable i{
  
}
.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #49332330;
    padding: 10px;
}
.products h1{
    text-align: center;
}
.productDetails{
    background-color: #9ddfd3;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin: 50px;
    margin-left: 377px;
    border-radius: 20px;
    box-shadow: 17px 17px 0px 0px #9e9e9e;
}
.productDetails input{
    padding: 10px;
    margin: 13px 54px;
    border-radius: 7px;
    outline: none;
    border-style: hidden;
    cursor: pointer;
}
.productDetails select{
    padding: 10px;
    margin: 13px 54px;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    border-style: hidden;
    color: grey;
}
.productDetails h1{
    background-color: #04043596;
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 36px;
}
.productDetails button{
   width: 50%;
    margin: 20px 190px;
    height: 50px;
    font-size: 19px;
    font-weight: 00;
    color: #3f51b5;
    background-color: white;
    border: none;
    border-radius: 7px;
    outline: none;

}